<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="../About/css/bootstrap.min.css">
		<link href="../About/css/myCss.css" type="text/css" rel="stylesheet">
		<link href="../About/css/main.css" type="text/css" rel="stylesheet">
		<link href="../About/css/base.css" type="text/css" rel="stylesheet">
		<!--按钮样式表-->
		<link href="../About/css/btn.css" type="text/css" rel="stylesheet">
		<link href="../About/css/css.css" type="text/css" rel="stylesheet">
		<link href="../About/css/index.css" type="text/css" rel="stylesheet">
		<link href="../About/css/search.css" type="text/css" rel="stylesheet">
		<script src="../About/js/jquery.min.js"></script>
		<script src="../About/js/bootstrap.min.js"></script>

		<script src="../node_modules/axios/dist/axios.js"></script>
		<script src="../node_modules/vue/dist/vue.global.js"></script>

		<title>外出登记</title>
		<script type="text/javascript">
		$(function(){

		})
		</script>
	</head>
	<body>
		<div class="hlnr page" id="app">
			<div class="col-md-12 pd20 RightContentBody fmt10">
				<div class="col-md-3 pd0 fmt5">
					<div class="input-group inputWidth_search" >
						<input type="text" class="form-control" placeholder="客户姓名" v-model="queryOuting">
						<span class="input-group-addon" v-on:click="query">查询</span>								
					</div>
				</div>
				<div class="col-md-9 pd0 fmt5">
					<button class="btn btn-primary" data-toggle="modal" data-target=".myModal1">
						<span class="glyphicon glyphicon-plus" v-on:click="newOuting"></span>&nbsp;登记</button>
					<button class="btn btn-success" data-toggle="modal" data-target=".myModal2">
						<span class="glyphicon glyphicon-plus" v-on:click="newTime"></span>&nbsp;审批</button>
				</div>			
				<div class="modal fade myModal1">
					<div class="modal-dialog">
						<div class="modal-content" style="width:100%;">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<span class="glyphicon glyphicon-pencil"></span>&nbsp;【外出登记】
							</div>
							<div class="modal-body clearfix" style="height: auto;">
								<div class="col-md-12 pd0">
									<div class="col-md-1 pd0 mt10"></div>
									<div class="col-md-10 pd0">
										<div class="col-md-12 pd0">
											<div class="input-group inputWidth">
												<span class="input-group-addon titleWidth">&nbsp;&nbsp;信息：</span>
												<select class="form-control" v-model="selectedCustomerName">
												  <option value="">请选择</option>
												  <option v-for="name in customerNames" :key="name" :value="name">{{ name }}</option>
												</select>
											  </div>
										</div>
									</div>
									<div class="col-md-1 pd0"></div>
								</div>							
								<div class="col-md-12 pd0 mt10">
									<div class="col-md-1 pd0"></div>
									<div class="col-md-10 pd0">
										<div class="col-md-12 pd0">
											<div class="input-group inputWidth">
												<span class="input-group-addon titleWidth">&nbsp;&nbsp;外出事由：</span>
												<input type="text" class="form-control" v-model="outingData.outingReason">
											</div>
										</div>
									</div>
									<div class="col-md-1 pd0"></div>
								</div>
								<div class="col-md-12 pd0 mt10">
									<div class="col-md-1 pd0"></div>
									<div class="col-md-10 pd0">
										<div class="col-md-12 pd0">
											<div class="input-group inputWidth">
												<span class="input-group-addon titleWidth">&nbsp;&nbsp;外出时间：</span>
												<input type="date" class="form-control" v-model="outingData.outingTime">
											</div>
										</div>
									</div>
									<div class="col-md-1 pd0"></div>
								</div>
								<div class="col-md-12 pd0 mt10">
									<div class="col-md-1 pd0"></div>
									<div class="col-md-10 pd0">
										<div class="col-md-12 pd0">
											<div class="input-group inputWidth">
												<span class="input-group-addon titleWidth">&nbsp;&nbsp;预计回院时间：</span>
												<input type="date" class="form-control" v-model="outingData.expectedReturn">
											</div>
										</div>
									</div>
									<div class="col-md-1 pd0"></div>
								</div>
								<div class="col-md-12 pd0 mt10">
									<div class="col-md-1 pd0"></div>
									<div class="col-md-10 pd0">
										<div class="col-md-12 pd0">
											<div class="input-group inputWidth">
												<span class="input-group-addon titleWidth">&nbsp;&nbsp;陪同人：</span>
												<input type="text" class="form-control" v-model="outingData.companionName">
											</div>
										</div>
									</div>
									<div class="col-md-1 pd0"></div>
								</div>
								<div class="col-md-12 pd0 mt10">
									<div class="col-md-1 pd0"></div>
									<div class="col-md-10 pd0">
										<div class="col-md-12 pd0">
											<div class="input-group inputWidth">
												<span class="input-group-addon titleWidth">&nbsp;&nbsp;与老人关系：</span>
												<input type="text" class="form-control" v-model="outingData.elderlyRelation">
											</div>
										</div>
									</div>
									<div class="col-md-1 pd0"></div>
								</div>
								<div class="col-md-12 pd0 mt10">
									<div class="col-md-1 pd0"></div>
									<div class="col-md-10 pd0">
										<div class="col-md-12 pd0">
											<div class="input-group inputWidth">
												<span class="input-group-addon titleWidth">&nbsp;&nbsp;陪同人电话：</span>
												<input type="text" class="form-control" v-model="outingData.companionContact">
											</div>
										</div>
									</div>
									<div class="col-md-1 pd0"></div>
								</div>
								<div class="col-md-12 pd0 mt10">
									<div class="col-md-1 pd0"></div>
									<div class="col-md-10 pd0">
										<div class="col-md-12 pd0">
											<div class="input-group inputWidth">
												<span class="input-group-addon titleWidth">&nbsp;&nbsp;备注：</span>
												<input type="text" class="form-control" v-model="outingData.remarks">
											</div>
										</div>
									</div>
									<div class="col-md-1 pd0"></div>
								</div>
							</div>
							<div class="modal-footer mt20">
								<button type="button" class="btn btn-primary" data-dismiss="modal" v-on:click="addOrUpdateOuting">
									确定
								</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">
									取消
								</button>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal fade myModal2">
					<div class="modal-dialog">
						<div class="modal-content" style="width:100%;">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="batchApprove">
									<span aria-hidden="true">&times;</span>
								</button>
								<span class="glyphicon glyphicon-pencil"></span>&nbsp;【审批】
							</div>
							<div class="modal-body clearfix" style="height: auto;">
								<div class="col-md-12 pd0">
									<div class="col-md-1 pd0 mt10"></div>
									<div class="col-md-10 pd0">
										<div class="col-md-12 pd0">
											<div class="input-group inputWidth">
												<span class="input-group-addon titleWidth">&nbsp;&nbsp;审批状态：</span>
												<select class="form-control"  v-model="outingData.approvalStatus">
													<option>已审批</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-1 pd0"></div>
								</div>
							</div>
							<div class="modal-footer mt20">
								<button type="button" class="btn btn-primary" data-dismiss="modal"
								v-on:click="batchApprove">
									确定
								</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">
									取消
								</button>
							</div>
						</div>
					</div>
				</div>								
				<div class="col-md-12 pd0 fmt10">
					<hr class="commonHRCss"/>
				</div>
				<div class="col-md-12 pd0">
					<table class="table table-hover">
						<thead>
							<tr>
								<th></th>
								<th>序号</th>
								<th>客户姓名</th>
								<th>外出事由</th>
								<th>外出时间</th>
								<th>预计回院时间</th>
								<th>实际回院时间</th>								
								<th>陪同人</th>
								<th>与老人关系</th>
								<th>陪同人电话</th>
								<th>审批状态</th>
								<!-- <th>审批人</th>
								<th>审批时间</th> -->
								<th>备注</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody>
							<tr v-for="(item, index) in outingList" :key="index">
								<td><input type="checkbox" :value="item.id" v-model="selectedItems" /></td>
								<td>{{ index + 1 }}</td>
								<td>{{ item.name }}</td>
								<td>{{ item.outingReason }}</td>
								<td>{{ item.outingTime }}</td>
								<td>{{ item.expectedReturn }}</td>
								<td>{{ item.actualReturn }}</td>
								<td>{{ item.companionName }}</td>																
								<td>{{ item.elderlyRelation }}</td>
								<td>{{ item.companionContact }}</td>
								<td>{{ item.approvalStatus }}</td>
								<!-- <td>{{ item.approver }}</td>
								<td>{{ item.approvalTime }}</td> -->
								<td>{{ item.remarks }}</td>
								<td>
									<button class="btn btn-primary" data-toggle="modal" data-target=".myModal1" @click="modify(item.id)">修改</button>
									<button class="btn btn-danger" @click="remove(item.id)">删除</button>
									<button class="btn btn-warning" data-toggle="modal" data-target=".myModal3" @click="modify(item.id)">登记回院时间</button>
								</td>
							</tr>
						</tbody>
						<tr>
							<td colspan="13">总记录数：{{total}}</td>
						</tr>
					</table>
				</div>
				<div class="col-md-12 pd0">
					<div class="col-md-12 text-right pd0 fmt20">
						<nav aria-label="Page navigation">
							<ul class="pagination">
								<li @click="previousPage">
									<a href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
									</a>
								</li>
								<li v-for="(item, index) in pages" :key="index"><a v-on:click="listOuting(index+1, size)">{{ index+1 }}</a></li>
								
								<li @click="nextPage">
									<a href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="modal fade myModal3">
					<div class="modal-dialog">
					  <div class="modal-content" style="width:100%;">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						  <span class="glyphicon glyphicon-pencil"></span>&nbsp;【登记回院时间】
						</div>
						<div class="modal-body clearfix" style="height: auto;">
						  <div class="col-md-12 pd0">
							<div class="col-md-1 pd0 mt10"></div>
							<div class="col-md-10 pd0">
							  <div class="col-md-12 pd0">
								<div class="input-group inputWidth">
								  <span class="input-group-addon titleWidth">&nbsp;&nbsp;实际回院时间：</span>
								  <input type="date" class="form-control" v-model="outingData.actualReturn"/>
								</div>
							  </div>
							</div>
							<div class="col-md-1 pd0"></div>
						  </div>
						</div>
						<div class="modal-footer mt20">
						  <button type="button" class="btn btn-primary" data-dismiss="modal"
						  v-on:click="addOrUpdateOuting">
							确定
						  </button>
						  <button type="button" class="btn btn-default" data-dismiss="modal">
							取消
						  </button>
						</div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<script>
		const app = Vue.createApp({
			data() {
				return {
					queryOuting: '',
					currentPage: 1,
					size: 10,
					outingList: [],
					pages: 0,
					total: 0,
					customerNames: [],
					selectedCustomerName: '',
					selectedItems: [],
					id: null,
					ids: [],
					outingData: {
						name: '',
						selectedCustomerName: '',
						outingReason: '',
						outingTime: '',
						expectedReturn: '',
						actualReturn: '',
						companionName: '',
						elderlyRelation: '',
						companionContact: '',
						remarks: '',
						approvalStatus:'待审批'
					}
				};
			},
			methods: {
				query() {
					if (this.queryOuting) {
						axios.get("http://localhost:8080/queryouting", { params: { name: this.queryOuting } })
							.then(res => {
								this.outingList = res.data;
							})
							.catch(err => {
								console.error(err);
							});
					} else {
						this.listOuting(this.currentPage, this.size);
					}
				},
				nextPage() {
					if (this.currentPage < this.pages) {
						this.currentPage += 1;
						this.listOuting(this.currentPage, this.size);
					}
				},
				previousPage() {
					if (this.currentPage > 1) {
						this.currentPage -= 1;
						this.listOuting(this.currentPage, this.size);
					}
				},
				remove(id) {
					axios.delete("http://localhost:8080/removeouting", { params: { id } })
						.then(res => {
							if (res.data === 'success') {
								this.listOuting(this.currentPage, this.size);
							}
						})
						.catch(err => {
							console.error(err);
						});
				},
				listOuting(page, size) {
					this.currentPage = page;
					axios.get("http://localhost:8080/listouting", { params: { page, size } })
						.then(res => {
							this.outingList = res.data.outings || [];
							this.total = res.data.total || 0;
							this.pages = Math.ceil(this.total / size); // 计算总页数
						})
						.catch(err => {
							console.error(err);
						});
				},
				newOuting() {
					this.id = null;
					this.outingData = {
						id:'',
						name: selectedCustomerName,
						outingReason: '',
						outingTime: '',
						expectedReturn: '',
						actualReturn: '',
						companionName: '',
						elderlyRelation: '',
						companionContact: '',
						remarks: '',
						approvalStatus:''
					};
				},
				newTime() {
					this.outingData.actualReturn = '';
				},
				modify(id) {
					this.id = id;
					axios.get("http://localhost:8080/getouting", { params: { id } })
						.then(res => {
							this.outingData = res.data;
							this.selectedCustomerName = res.data.name; // Ensure selectedCustomerName is set
							console.log("Modify data:", this.outingData);
							console.log("Selected customer name:", this.selectedCustomerName);
						})
						.catch(err => {
							console.error(err);
						});
				},
				addOrUpdateOuting() {
					this.outingData.name = this.selectedCustomerName; // Make sure name exists in outingData
					console.log("Before sending:", this.outingData);
					axios.post("http://localhost:8080/saveOrUpdateouting", this.outingData)
						.then(res => {
							console.log("Server response:", res.data);
							if (res.data === 'success') {
								this.listOuting(this.currentPage, this.size);
							}
						})
						.catch(err => {
							console.error(err);
						});
				},
				queryCustomerName() {
					axios.get("http://localhost:8080/getcustomername")
						.then(res => {
							this.customerNames = res.data;
						})
						.catch(error => {
							console.error(error);
						});
				},
				batchApprove() {
					// 发送选中的id数组到后端
					axios.post("http://localhost:8080/batchApprove", {
						ids: this.selectedItems, // 将选中的id传递给后端
						approvalStatus: this.outingData.approvalStatus // Correctly reference outingData
					})
					.then(res => {
						if (res.data === 'success') {
							alert("批量审批成功！");
							// 重新获取数据以更新列表
							this.listOuting(this.currentPage, this.size);
						}
					})
					.catch(err => {
						console.error(err);
						alert("批量审批失败！");
					});
				}

			},
			created() {
				this.listOuting(this.currentPage, this.size);
				this.queryCustomerName();
			}
		}).mount("#app");
	</script>
</html>
